# Environments
venv/
ds_venv/
env/
.venv/
.env

# Database Files
*.db
*.sqlite3
*.db-journal
attendance_buffer.db

# Python caches
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Models and DeepStream engine caches
models/
*.onnx
*.engine
*.pt

# Compiled C++ custom parsers
*.so
nvdsinfer_custom_impl_Yolo/

# Node.js / Backend Service
node_modules/
package-lock.json

# IDEs
.vscode/
.idea/

# DeepStream / GStreamer cache
*.cache
known_faces/
